<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioTramitesOnline" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ServicioTramites/ServicioTramitesOnline.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioTramitesOnline"
                contract="WSTramitesOnline.IServicioTramitesOnline" name="BasicHttpBinding_IServicioTramitesOnline" />
        </client>
    </system.serviceModel>
</configuration>